table {

    border-radius: 15px;

    overflow: hidden;

    background: white;
}

thead {

    background: #0d1b2a;

    color: white;
}

.card {

    border: none;

    border-radius: 15px;
}

input {

    border-radius: 10px !important;
}

.btn {

    border-radius: 10px;
}







.form-control,
.form-select {

    min-height: 45px;
}

@media (max-width: 768px) {

    .btn {

        width: 100%;
    }

    h1 {

        font-size: 1.8rem;
    }

    h3 {

        font-size: 1.2rem;
    }

    .card-body {

        padding: 15px;
    }
}

