<div class="sidebar">

    <div>

        <h3 class="logo">

            Clínica Sagrado Corazon

        </h3>

        <ul class="menu">

            <li>

                <a routerLink="/">

                    🏠 Dashboard

                </a>

            </li>

            <li>

                <a routerLink="/doctores">

                    👨‍⚕️ Doctores

                </a>

            </li>

            <li>

                <a routerLink="/pacientes">

                    🧑 Pacientes

                </a>

            </li>

            <li>

                <a routerLink="/citas">

                    📅 Citas

                </a>

            </li>

        </ul>

    </div>

    <button class="logout-btn" (click)="logout()">

        🚪 Logout

    </button>

</div>